@font-face {
  font-family: "iconfont";
  src: url(../font/iconfont.eot?t=1532935536457);
  src: url(../font/iconfont.ttf?t=1532935536457&iconfont) format('truetype'), url(../font/iconfont.svg?t=1532935536457&iconfont) format('svg');
}

.aa {
  color: #000000;
}

.iconfont {
  font-family: "iconfont", sans-serif;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home::before {
  content: "\e609";
}
